services:
  servicoautenticacao.api:
    image: ${DOCKER_REGISTRY-}servicoautenticacaoapi
    container_name: servicoautenticacao.api
    build:
      context: .
      dockerfile: src/ServicoAutenticacao.Api/Dockerfile
    networks:
      - api-network

  servicoautenticacao.db:
    image: postgres:latest
    container_name: servicoautenticacao.db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=ServicoAutenticacaoDB
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - api-network

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: marcosfas.dev@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - servicoautenticacao.db
    networks:
      - api-network
  
  zoo:
    image: confluentinc/cp-zookeeper:latest
    hostname: zoo
    container_name: zoo
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_SERVERS: zoo:2888:3888
    networks:
      - api-network

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zoo:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zoo
    networks:
      - api-network

volumes:
  db_data:
    driver: local

networks:
  api-network:
    driver: bridge