services:
  servicoautenticacao.api:
    image: ${DOCKER_REGISTRY-}servicoautenticacaoapi
    container_name: servicoautenticacao.api
    build:
      context: .
      dockerfile: src/ServicoAutenticacao.Api/Dockerfile
    networks:
      - services-network


volumes:
  db_data:
    driver: local

networks:
  services-network:
    external: true
